<head>
  <title><%= tabTitle %></title>
  <meta name="twitter:card" content="summary" />
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta name="description" content="<%= description %>">
  <% if (imageUrl) { %>
    <meta property="og:image" content="<%= imageUrl %>">
  <% } %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/styles.css">
  <script async defer data-website-id="aad8ac8c-7742-449f-af11-250b9a308fa2" src="https://umami-opal.vercel.app/umami.js"></script>
</head>
